<p>I will one day be the pipeline, and I will be awesome</p>




<div id="app"></div>
<ul>
<% @Deals.each do |deal|%>
    <li><%=link_to deal.deal_name, deal %></li>
<%end%>
</ul>

<%=link_to "Add a Deal", new_deal_path %>