<p>
  I am the home page and I am displaying correctly. 
</p>
<%=link_to "Accounts", accounts_path %>
<%=link_to "Companies", companies_path %>
<%=link_to "Contacts", contacts_path %>
<%=link_to "Deals", deals_path %>