/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.splash  {
 background-image: url("https://cff2.earth.com/uploads/2018/02/22001907/Nocturnal-creatures-use-starlight-as-a-compass-in-the-dark-.jpg");
 background-color: transparent;
 color: #F2DD0D 

}

 .splash a {
   color: #F2DD0D;
   background-color: transparent
 }


 .deal-tile {
   background: #ffffff;
   color: #333;
  margin-bottom: 0.5em;
  border-radius: 0.25em;
  position: relative;
  z-index: 10;
 }

.deal-title {
  padding: 1em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: .25em
}


.column-container {
  display: flex;
  height: 100vh;
}


.tile {
  background: #fafafa;
  color: #333;
  margin-bottom: .5em;
  border-radius: .25em;
  position: relative;
  z-index: 10;
  }

  .title-segment {
    padding: 1em;
    border-bottom: 1px;
    border-style: "solid";
    border-color: #333;
    }
    
  .content-segment {
      padding: 1em,
    }
 
.column {
  z-index: 0;
  flex: 1;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #333
}
  .column:last-child {
    border-right: 0px;
  }

  .column-title {
      font-weight: 600;
      padding: 1em;
      border-bottom-width: 1px; 
      border-bottom-style: solid;
      border-bottom-color: #333

    }

  .column-deals {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 1em;
    flex-grow: 1
  }


  .column-title {
    color: #333
  }
