<!DOCTYPE html>
<html>
<head>
  <title>ProjectStarlight</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>

  <link rel="icon" 
      type="image/jpg" 
      href="https://i.redd.it/4nqezy4haqj41.jpg"/>

</head>
<body>




  <div class="hero-full-screen">

  <nav class="top-bar splash">
    <h1><a href="/"><em>Project Starlight</em></a></h1>
    <section class="top-bar-section">
    </section>
  </nav>


  <div class="middle-content-section">
    <h1>A CRM for Salespeople. By Salespeople.</h1>
    <button class="button large" onClick=document.location='/users/sign_in'>Log In</button>
    <button class="button large"onClick=document.location='users/sign_in'>Sign Up</button>
  </div>

  

</div>



