<h2>I am the Accounts Index page and I am displaying correctly</h2>

<div class="result-box">
    <div class="result-box-header">
        <%=link_to "Add an Account", new_account_path %>
    </div>
    <ul><%@Accounts.each do |account|%>
        <li><%=link_to account.name, account %><%=account.city%><%=account.state%></li>
    <%end%>
</div>
